Repository codeglocks/flutter-awesome-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: change, source, test

remove pr welcome message
  .github/workflows/greetings.yml
Labels: none

create issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

feature template added
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

bug report template updated
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

labeler workflow added
  .github/workflows/label.yml
Labels: none

remove unused imports and variables.
  lib/welcome_screen.dart
  lib/widgets/expansionTile/singleTile/MyExpansionTile.dart
  test/widget_test.dart
Labels: source, test

add test case for test main UI btn functionality.
  lib/welcome_screen.dart
  test/widget_test.dart
Labels: source, test

Customizeable alert dialog added
  lib/main.dart
  lib/welcome_screen.dart
  lib/widgets/alertDialog/alert_dialog.dart
  pubspec.lock
Labels: change, source

test case updateed
  test/widget_test.dart
Labels: test

Update README.md
  README.md
Labels: change

404 Error design 1 created
  assets/images/404error.png
  lib/classes/Routing.dart
  lib/main.dart
  lib/welcome_screen.dart
  lib/widgets/error404/Error404Design1.dart
  pubspec.yaml
Labels: change, source

Test case updated
  test/widget_test.dart
Labels: test

add bottom nav bar
  lib/welcome_screen.dart
Labels: source

refactor: move main UI to separate directory
  lib/screens/home_screen.dart
  lib/welcome_screen.dart
  pubspec.lock
Labels: change, source

.github/labeler.yml:

change:
  - ./*

source:
  - lib/**/*

test:
  - test/**/*
